.dice{
    margin: auto;
    --box-shadow: none;
    ion-icon{
        font-size: 54px;
        max-height: 100%;
        max-width: 100%;
        margin: 3px;
        padding:3px;
    }
}

.dice:not(.action){
    --ion-color-shade: transparent!important;
}

.dice.action{
    ion-icon{
        font-size: 18px;
    }
    padding: 5px;
}

ion-label{
    font-size: small;
}

p{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: small;
}

p.dicetext{
    font-weight: 600;
}
.inputelement{
    border:1px solid var(--ion-color-secondary);
    border-radius: 10px;
    margin: auto 16px;
}
.inputelementError{
    border: 1px solid var(--ion-color-danger)!important;
}
